* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, Sans-Serif;
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  background-color: #fff;
}
#window{
  height: 100%;
}
#controls {
  position: fixed;
  top: 0;
  height: 100%;
  width: 200px;
  background: #eee;
  opacity: 0.9;
  padding: 5px;
  overflow: overlay;
}
#controls {
  left: 0;
  border-right: 1px solid #aaa;
}

#methodsHint {
  text-align: center;
}
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flexContainer .control {
  margin: 2px;
  flex: 1 25%;
  flex-basis: auto;
}
.control {
  height: 20px;
  padding: 1px 5px;
  line-height: 18px;
  border: 1px solid #333;
  margin: 1px -1px;
}
.control.active {
  border: 1px solid #00cc00;
}
input.control {
  width: 190px;
}
input.control.short {
  width: 143px;
  margin-left: 0;
}
input#textRevFromSha, input#textRevFromBy, input#textRevFromDate {
  background-color: #acff90;
}
input#textRevToSha, input#textRevToBy, input#textRevToDate {
  background-color: #ffcd76;
}
input, button {
  border-radius: 3px;
}
label {
  display: inline-block;
  width: 40px;
}

h5 {
  border-top: 1px solid #aaa;
  font-size: 16px;
  padding: 7px 4px 4px 0;
  margin: 10px 0 0 0;
  text-align:center;
}
h5:first-child {
  border-top: none;
  margin: 0;
}
h6 {
  padding: 4px 4px 4px 0;
  margin: 0;
}
#warning, #browserCheck {
  font-size: 30px;
  color: #999;
  text-shadow: 1px 1px 0px #E2E2E2;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 200px;
  right: 0px;
  width: calc(100% - 200px);
  height: 100%;
  text-align: center;
  pointer-events: none;
}
#warning div, #browserCheck div {
  display: inline-block;
  vertical-align: middle;
}
#loading {
  position: fixed;
  height: 50%;
  width: 50%;
  left: 25%;
  top: 25%;
}
#graphContainer {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
}
svg.graph {
  position: absolute;
  top: 0;
  left: 0;
}
#nav {
  display: block;
  height: 180px;
  cursor: default;
}
#tooltip {
  z-index: 100000001;
  position: fixed;
  padding: 4px;
  max-width: 500px;
  font: 12px sans-serif;
  background: #f3ff95;
  border: 1px solid #d2ed49;
  border-radius: 4px;
  font-size: 13px;
  display: block;
  overflow: hidden;
  opacity: 0.9;
}
#tooltip .info {
  box-sizing: border-box;
  display: table-row;
}
#tooltip .info .key, #tooltip .info .value {
  padding: 1px 5px 1px 0;
  display: table-cell;
  word-break: break-all;
}
#tooltip .info .key {
  width: 70px;
}
#tooltip .info .value {
  white-space: pre-line;
}
.timeNavTick {
  font-size: 10px;
  text-anchor: middle;
}
.coDot, .centerDot {
  cursor: pointer;
  text-anchor: middle;
}
.coDot.disabled, .centerDot.disabled {
  cursor: default;
}
.coDot text {
  font-size: 18px;
  pointer-events: none;
}
.centerDot text {
  font-size: 14px;
  pointer-events: none;
}
#browserCheck {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.introjs-overlay {
  background: #000;
}
.introjs-overlay-container {
  position: static;
  opacity: 0.5;
}

.introjs-helperLayer {
  background: none;
}
.introjs-tooltiptext ul {
  padding-inline-start: 15px;
}
.introjs-floating {
  min-width: 350px;
  max-width: 500px;
  margin-left: -175px;
}
.introjs-skipbutton {
  color: #333;
}
.pointerTransparent {
  pointer-events: none;
}
#projects {
  position: fixed;
  top: 0;
  width: auto;
  right: 20px;
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background: #eee;
  opacity: 0.9;
  padding: 2px 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 13px;
}
#about {
  position: fixed;
  bottom: 0;
  width: auto;
  right: 20px;
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background: #eee;
  opacity: 0.9;
  padding: 2px 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 13px;
}
#projects a, #about a {
  color: #000;
  padding: 0 5px;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: #999 !important;
}
